nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
}

.downarrow {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;

}
