nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  z-index: 1;
}

.downarrow {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #021402;
  background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
}

.name {
  color: aqua;
  font-size: 36px;
}