
/* the CSS for the old tweets and the newly posted tweets */

article {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  margin-bottom: 2em;
  border: 3px solid #545149;
  padding: 0.5em;
}

article:hover {
  box-shadow: 6px 6px skyblue;
}

article header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
}

.tag {
  color: skyblue;
  font-weight: bold;
}

article footer {
  display: flex;
  justify-content: space-between;
  border-top: inherit;
  padding: 0.3em;
  font-size: small;
}

.interactive {
  color: darkblue;
}

.flag:hover, .share:hover, .love:hover {
  color: red;
}